#inspectorEditWindow {
    padding: 8px;
    color: #272727;
}

#inspectorEditWindow .row {
    margin: 0;
}

.array-item-list {
    max-height: 400px;
    padding-right: 12px;
    overflow-y: scroll;
}