/* Port styling */
.available-magnet {
    fill: rgb(255, 187, 0);
}

.port-body {
    stroke-width: 4px;
    stroke: rgb(223, 105, 26);    
}

/* Element styling */
.editor-node .body {
    stroke-width: 4;
    stroke: rgb(223, 105, 26);
    fill: rgb(235, 235, 235);
    rx: 5;
    ry: 5;
}

.editor-node .label {
    font-size: 12px;
}

.joint-port-label {
    /* font-size: 12px;
    width: 100px;
    height: 32px; */
    text-align: left;
}

/* Connection styling */
.connection {
    stroke: rgb(78, 93, 108);
    stroke-width: 5;
}